*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{ 
    font-family: 'Poppins', sans-serif;
    background-color: #2c263d;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 600px;
    height: 430px;
}
section img{
    
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.elementos{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 600px;
    height: 430px;
}
h1{
    text-align: center;
    background-color: black;
    color: #ff5A2C;
    pad: 20px;
}
.carrusel .elementos{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.carrusel .elementos:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
div a{
    color: white;
}
div a:hover{
    color: #ff5A2C;
}